.Container {
  background-color: #f66875;
  height: 700px;
  width: 600px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 2px 5px 5px #b83642; }
  .Container svg:not(.rondBlanc) {
    z-index: 2; }
  .Container .rondBlanc {
    z-index: 0;
    position: absolute; }
  .Container button {
    z-index: 2;
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    text-align: center; }
