.Container{
  background-color: #f66875;
  height: 700px;
  width: 600px;
  box-shadow: 2px 5px 5px #b83642;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
    
  .button{
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    width: 100%;

    button{
      margin: 0px 10px;
      padding: 15px;
      background-color: #c8c8c8;
      border: none;
      color: #515151;
      border-radius: 2px;
    }           
  }

  .firstCircle{
    transform-origin: 50% 50%;
    transform: rotate(0deg) translate(-73px,117px);
  }
}



